html {
    font-family: "Open Sans", Arial, sans-serif;
    margin: 0;
}

body {
    margin: 0;
    min-width: 290px;
    line-height: 1.5;
    
}

#navbar {
    position: fixed;
    min-width: 290px;
    width: 300px;
    border-right: 3px solid rgba(0, 22, 22, 0.4);
    height: 100%;
    top: 0px;
    left: 0px;
    margin-bottom: 0;
}

#navbar header {
    font-size: 29px;
    padding: 15px;
    text-align: center;
}

#navbar ul {
    height: 86%;
    overflow: scroll;
    overflow-x: hidden;
    list-style-type: none;
    padding-left: 0;
}

#navbar li {
    padding: 10px 20px;
    border-top: 1px solid black;
    text-decoration: none;
    color: rgb(40, 40, 41);
    transition: 0.5s;
}

.nav-link {
    text-decoration: none !important;
}

#navbar li:hover {
    background-color: rgb(243, 237, 237);
}

#main-doc {
    margin: 50px;
    margin-top: 15px;
    padding-left: 300px;
    color: rgb(77, 78, 83);
}

#main-doc header {
    color: black;
    font-size: 30px;
    padding-top: 15px;
}

#main-doc p {
    font-size: 0.96em;
    width: 100%;
}

#main-doc code {
    background-color: #f7f7f7;
    border-radius: 5px;
    text-align: left;
    line-height: 1.5;
    padding: 15px;
    margin: 15px;
    width: 95%;
    display: block;
}

#main-doc li {
    line-height: 1.5;
    padding-top: 15px;
}

@media (max-width:800px) {
    #navbar {
        position: initial;
        width: 100%;
        height: 300px;
        border-bottom: 2px solid rgb(40, 40, 41);;
    }
    #navbar ul {
        border-top: 2px solid rgb(40, 40, 41);;
        height: 210px;
    }
    #main-doc {
        padding-left: 0;
    }
    #main-doc code {
        margin-left: -10px;
    }
}